.aboutSectionHeading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.aboutCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #9eadbd;
    border-radius: 10px;
    background-color: #dcefff;
    padding: 20px;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.resumeButton {
    width: 100%;
}

.resumeLink {
    text-decoration: none;
}
