.buttons {
    background-color: #dcefff;
    color: #032B43;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 16px;
    margin-top: 25px;
    box-shadow: none;
    cursor: pointer;
}

.buttons:hover {
	background-color: #ffa734;
    color: #032B43;
    box-shadow: none;
}

.buttons:focus {
    background-color: #FFB24D;
	box-shadow: none;
    outline: none;
}

.buttons:active {
    background-color: #FF9100;
	box-shadow: none;
    outline: none;
}

.buttons:disabled {
    background-color: #ECC693;
    box-shadow: none;
}
