.contactFormContainer {
    display: flex;
    justify-content: center;
}

.contactForm {
    max-width: 40rem;
    padding: 20px;
    border: 1px solid #9eadbd;
    border-radius: 10px;
    background-color: #dcefff;
}

.formFields {
    display: flex;
    flex-direction: column;
}

.nameEmailFields {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.nameField {
    flex: 1;
}

.emailField {
    flex: 1;
}

.contactFormInputFields {
    border: 1px solid #9eadbd;
    border-radius: 8px;
    background-color: #DCEFFF;
    line-height: 3rem;
    width: stretch;
    margin-top: 10px;
    padding: 0 7px 0 7px;
}

.contactFormMessageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

textarea {
    width: stretch;
    resize: none;
}

.formLabels {
    margin-bottom: 5px;
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    .nameEmailFields {
        flex-direction: column;
        gap: 25px;
    }
    .emailField {
        justify-content: left;
    }
}
