.contactContent {
    display: flex;
    justify-content: center;
    max-width: 70rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #dcefff;
    margin-top: 1.5rem;
}

.contactContainer {
    max-width: 70rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 90rem) {
    .contactContent {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .contactContent {
        margin-left: 12%;
        margin-right: 12%;
    }
    .contactContainer {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .contactContent {
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 0.25rem;
    }
    .contactContainer {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 380px) {
    .contactContent {
        margin-left: 6%;
        margin-right: 6%;
    }
}
