.nav {
    background-color: #032B43;
    height: 4.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
}

.navContainer {
    width: 70rem;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.navItems {
    display: flex;
    align-items: center;
}

.logo {
    color: #FF9C1A;
    font-size: 1.5rem;
    font-family: 'Oswald';
    font-weight: 600;
}

.ul {
    padding-left: 2.25rem;
}

a {
    background-color: none;
    cursor: pointer;
    text-decoration: none;
    color: #FF9C1A;
    font-family: 'Oswald';
}

a:hover {
    color: #DCEFFF;
}

.ul a {
    padding-right: 1rem;
}

.contact {
    font-size: 1.1rem;
    color: #FF9C1A;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .85rem;
    align-items: center;
  }

.FontAwesomeIcon {
    font-size: 1.23rem;
}

@media only screen and (max-width: 90rem) {
    .navContainer {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 900px) {
    .navContainer {
        margin-left: 10%;
        margin-right: 10%;
    }
    .ul {
        display: none;
    }
    .contact {
        font-size: 1rem;
        gap: .75rem;
        
    }
    .logo {
        font-size: 1.35rem;
    }
    .FontAwesomeIcon {
        font-size: 1.15rem;
    }
}
