.home {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.sectionContainers {
    max-width: 100%;
    margin-top: 3rem;
    margin-bottom: 4rem;
    border-radius: 16px;
    color: #dcefff;
}

@media only screen and (max-width: 90rem) {
    .home {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .home {
        margin-left: 12%;
        margin-right: 12%;
    }
    .sectionContainers {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .home {
        margin-left: 9%;
        margin-right: 9%;
    }
}

@media only screen and (max-width: 380px) {
    .home {
        margin-left: 6%;
        margin-right: 6%;
    }
}
