.mainContent {
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin-left: auto;
    margin-right: auto;
    color: #032B43;
}

.aboutContainer {
    border: 1px solid #032B43;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 12px;
    margin-top: 5rem;
    margin-bottom: 6rem;
    max-width: 70rem;
    background-color: #dcefff;
}

.greeting {
    text-align: center;
    line-height: 1.3rem;
    font-size: 1.75rem;
    text-decoration: underline;
}

.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: auto;
    max-width: 70rem;
    gap: 1rem;
}

.aboutText {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: center;
    text-align: center;
    max-width: 37rem;
    font-size: 1.3rem;
}

.videoDemoText {
    font-size: 1.3rem;
}

.headshot {
    max-width: 20rem;
    height: 100%;
    border-radius: 12px;
}

article {
    border: 1px solid #9eadbd;
    border-radius: 12px;
    background-color: #dcefff;
    padding: 20px;
}

.projects {
    max-width: 70rem;
    margin-bottom: 6rem;
    border: 1px solid #032B43;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 12px;
    background-color: #dcefff;
}

.sectionHeading {
    font-size: 1.65rem;
    margin-bottom: 35px;
}

.projects h2 {
    text-align: center;
    line-height: 1rem;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
}

.projectDetails {
    font-size: 1.25rem;
    text-align: center;
    max-width: 24rem;
    margin: 0 1rem 0 1rem;
}

.projectCardText {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.projectCardText p {
    font-size: 16px;
    margin-bottom: 0;
}

.projectLink {
    font-size: 24px;
    margin-bottom: 0;
}

.projectLink a {
    text-decoration: none;
    color: #032B43;
}

.videoDemo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.githubButton {
    background-color: #032B43;
    color: #FF9C1A;
    width: 100%;
    height: 3rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 16px;
    margin-top: 25px;
}

.githubLink {
    text-decoration: none;
}

.skills {
    max-width: 70rem;
    margin-bottom: 6rem;
    border: 1px solid #032B43;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 12px;
    background-color: #dcefff;
}

.skills h2 {
    text-align: center;
    line-height: 1.3rem;
}

.skillsIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icons {
    height: 2.5rem;
    width: 2.5rem;
    margin: 2rem 3rem 3rem 3rem;
}

.contact {
    border: 1px solid #032B43;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 12px;
    margin-bottom: 6rem;
    max-width: 70rem;
    background-color: #dcefff;
}

.contact h2 {
    text-align: center;
    line-height: 1.3rem;
}

.contactContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 90rem) {
    .mainContent {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1024px) {
    .aboutContainer {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .greeting {
        font-size: 1.7rem;
    }
    .aboutText, .videoDemoText {
        font-size: 1.25rem;
    }
    .sectionHeading {
        font-size: 1.6rem;
    }
    .projects {
        margin-bottom: 5rem;
    }
    .projectLink {
        font-size: 1.5rem;
    }
    .githubLink {
        font-size: 1.1rem;
    }
    .skills {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .mainContent {
        margin-left: 12%;
        margin-right: 12%;
    }
    .greeting {
        font-size: 1.6rem;
    }
    .aboutText, .videoDemoText {
        font-size: 1.15rem;
    }
    .headshot {
        max-width: 17.5rem;
        height: 100%;
    }
    .sectionHeading {
        font-size: 1.5rem;
    }
    .projectDetails {
        font-size: 1.15rem;
    }
    .projectLink {
        font-size: 1.4rem;
    }
    .githubLink {
        font-size: 1rem;
    }
    .skillsIcons {
        justify-content: center;
    }
    .icons {
        height: 2.25rem;
        width: 2.25rem;
        margin: 1.75rem 2.75rem 2.75rem 2.75rem;
    }
    .aboutContainer {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .projects {
        margin-bottom: 4rem;
    }
    .skills {
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 480px) {
    .mainContent {
        margin-left: 9%;
        margin-right: 9%;
    }
    .headshot {
        max-width: 12rem;
        height: 100%;
    }
    .greeting {
        font-size: 1.5rem;
    }
    .sectionHeading {
        font-size: 1.4rem;
    }
    .aboutText, .videoDemoText {
        font-size: 1.05rem;
    }
    .icons {
        height: 2.15rem;
        width: 2.15rem;
        margin: 1.65rem 2.5rem 2.65rem 2.5rem;
    }
    .aboutContainer {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .projects {
        margin-bottom: 3rem;
    }
    .projectLink {
        font-size: 1.3rem;
    }
    .githubLink {
        font-size: 0.9rem;
    }
    .skills {
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 380px) {
    .icons {
        margin: 1.65rem 1.75rem 2.25rem 1.75rem;
    }
}
