.projectsContent {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    color: #032B43;
    margin-top: 1.5rem;
}

.projectsContainers {
    max-width: 70rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
    border: 1px solid #032B43;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    border-radius: 16px;
    background-color: #dcefff;
}

@media only screen and (max-width: 90rem) {
    .projectsContent {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (max-width: 1024px) {
    .projectsContent {
        margin-top: 1rem;
    }
    .projectsContainers {
        margin-bottom: 5rem;
    }
}

@media only screen and (max-width: 768px) {
    .projectsContent {
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 0.5rem;
    }
    .projectsContainers {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 480px) {
    .projectsContent {
        margin-left: 9%;
        margin-right: 9%;
        margin-top: 0.25rem;
    }
    .projectsContainers {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 380px) {
    .projectsContent {
        margin-left: 6%;
        margin-right: 6%;
    }
}
