* {
    font-family: 'Lora', Georgia, Times, serif;
}

body {
    background-color: #dcefff;
    overflow-x: hidden;
    margin: 0;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
}