* {
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

html {
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body {
    background-color: #032B43;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 3rem;
}
